* {
    box-sizing: border-box;
    /* border: 1px solid; */
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 250, 221);
}

/* HERO */
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 26, 26);
    color: white;
    padding-bottom: 16px;
}

/* RECIPES */
.recipes {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    gap: 3rem;
}

.recipes img {
    height: 250px;
    width: 300px;
    object-fit: cover;
    border: 2px solid rgb(176, 26, 26);
    border-radius: 10px;
}


